<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"blocktheme/banner-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/icons-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/about-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/services-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/products-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/text-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/call-to-action-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/logotypes-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/images-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/projects-1"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->