<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"blocktheme/banner-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/advantages-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/services-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/projects-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/loop-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/about-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/reviews-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/cta-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/team-1"} /-->
<!-- wp:pattern {"slug":"blocktheme/partners-1"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->